.DS_Store
data/grafana/*
!data/grafana/.gitkeep
data/alertmanager/*
!data/alertmanager/.gitkeep
data/prometheus/*
!data/prometheus/.gitkeep
data/node_exporter/*
!data/node_exporter/.gitkeep
data/minio/*
!data/minio/.gitkeep
data/test/*
!data/test/.gitkeep